<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ModuleLijstController</servlet-name>
        <servlet-class>CTRL.ModuleLijstController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModuleVerwijderen</servlet-name>
        <servlet-class>CTRL.ModuleVerwijderenController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModuleToevoegen</servlet-name>
        <servlet-class>CTRL.ModuleToevoegen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModuleToevoegenController</servlet-name>
        <servlet-class>CTRL.ModuleToevoegenController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LesmomentLijstController</servlet-name>
        <servlet-class>CTRL.LesmomentLijstController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LesmomentToevoegenController</servlet-name>
        <servlet-class>CTRL.LesmomentToevoegenController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LesmomentVerwijderenController</servlet-name>
        <servlet-class>CTRL.LesmomentVerwijderenController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoorkennisLijstController</servlet-name>
        <servlet-class>CTRL.VoorkennisLijstController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoorkennisVerwijderenController</servlet-name>
        <servlet-class>CTRL.VoorkennisVerwijderenController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoorkennisToevoegenController</servlet-name>
        <servlet-class>CTRL.VoorkennisToevoegenController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GevolgdeModulesController</servlet-name>
        <servlet-class>CTRL.GevolgdeModulesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeVolgenModulesController</servlet-name>
        <servlet-class>CTRL.TeVolgenModulesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessenroosterController</servlet-name>
        <servlet-class>CTRL.LessenroosterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WeekdagenController</servlet-name>
        <servlet-class>CTRL.WeekdagenController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModuleLijstController</servlet-name>
        <url-pattern>/ModuleLijstController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModuleVerwijderen</servlet-name>
        <url-pattern>/ModuleVerwijderen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModuleToevoegen</servlet-name>
        <url-pattern>/ModuleToevoegen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModuleToevoegenController</servlet-name>
        <url-pattern>/ModuleToevoegenController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LesmomentLijstController</servlet-name>
        <url-pattern>/LesmomentLijstController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LesmomentToevoegenController</servlet-name>
        <url-pattern>/LesmomentToevoegenController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LesmomentVerwijderenController</servlet-name>
        <url-pattern>/LesmomentVerwijderenController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoorkennisLijstController</servlet-name>
        <url-pattern>/VoorkennisLijstController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoorkennisVerwijderenController</servlet-name>
        <url-pattern>/VoorkennisVerwijderenController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoorkennisToevoegenController</servlet-name>
        <url-pattern>/VoorkennisToevoegenController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GevolgdeModulesController</servlet-name>
        <url-pattern>/GevolgdeModulesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeVolgenModulesController</servlet-name>
        <url-pattern>/TeVolgenModulesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessenroosterController</servlet-name>
        <url-pattern>/LessenroosterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WeekdagenController</servlet-name>
        <url-pattern>/WeekdagenController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
