/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-Jan-2015, 19:33:51
    Author     : Wim
*/
body {
    background-color: #F0F0F0;
}
h1 {
    color: #0096e0;
    font-family: "Open Sans";
    font-weight: 800;          
} 
h2 {
    color: #0096e0;
    font-size: 150%;
} 
.btn-group {
    background-color: #F0F0F0;
}
.btn-custom-lighten.active {
    color: rgba(255, 255, 255, 0.75);
}
.btn-custom-lighten {
    margin-top: 20px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #0096e0;
    background-image: -moz-linear-gradient(top, #0088cc, #00aaff);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#00aaff));
    background-image: -webkit-linear-gradient(top, #0088cc, #00aaff);
    background-image: -o-linear-gradient(top, #0088cc, #00aaff);
    background-image: linear-gradient(to bottom, #0088cc, #00aaff);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff00aaff', GradientType=0);
    border-color: #00aaff #00aaff #0077b3;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #00aaff;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-custom-lighten:hover,
.btn-custom-lighten:focus,
.btn-custom-lighten:active,
.btn-custom-lighten.active,
.btn-custom-lighten.disabled,
.btn-custom-lighten[disabled] {
    color: #ffffff;
    background-color: #00aaff;
    *background-color: #0099e6;
}
.btn-custom-lighten:active,
.btn-custom-lighten.active {
    background-color: #0088cc ;
}

.content-top, .content {
    background-color: white;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    height: fill-available;
    padding: 20px;
    border-radius: 15px;
}
.content-top {
    margin-top: 20px;
    background-image: url('Images/cvo.png');
    background-repeat: no-repeat;
    background-position: 95% 50%;
}
.checkbox{
    margin-left: 20px;
    font-weight: normal;
}